<?xml version="1.0" ?>
<config>
    <modules>
        <Ccc_Ship>
            <version>0.0.1</version>
        </Ccc_Ship>
    </modules>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <ship>
                            <title>Shipment Module</title>
                        </ship>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <blocks>
            <ship>
                <class>Ccc_Ship_Block</class>
            </ship>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Ccc_Ship_Block_Adminhtml_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <ship>
                <class>Ccc_Ship_Helper</class>
            </ship>
        </helpers>
        <models>
            <ship>
                <class>Ccc_Ship_Model</class>
            </ship>
        </models>
    </global>
    <default>
        <carriers>
            <excellence>
                <active>1</active>
                <model>ship/carrier_excellence</model>
                <title>Carrier Title</title>
                <name>Express Delivery</name>
                <price>5.00</price>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
            </excellence>
        </carriers>
    </default>
</config>