<?xml version="1.0"?>
<config>
    <modules>
        <Bas_AdminGrid>
            <version>1.0.0</version>
        </Bas_AdminGrid>
    </modules>
    <adminhtml>
        <menu>
            <admingrid module="admingrid">
                <title>admingrid</title>
                <sort_order>998</sort_order>               
                <children>
                    <items module="admingrid">
                        <title>childs</title>
                        <sort_order>0</sort_order>
                        <action>adminhtml/admingrid</action>
                    </items>
                </children>
            </admingrid>
        </menu>
        <acl>
            <resources>
            <all>
            <title>Allow Everything</title>
            </all>
            <admin>
            <children>
            <admingrid>
            <title>AdminGrid Module</title>
            <sort_order>200</sort_order>
            </admingrid>
            </children>
            </admin>
            </resources>
        </acl> 
        <layout>
            <updates>
                <admingrid>
                    <file>admingrid.xml</file>
                </admingrid>
            </updates>
        </layout>       
    </adminhtml> 
    <frontend>
        <routers>
            <admingrid>
                <use>standard</use>
                <args>
                    <module>Bas_AdminGrid</module>
                    <frontName>admingrid</frontName>
                </args>
            </admingrid>
        </routers>   
        <layout>
            <updates>
                <admingrid>
                    <file>admingrid.xml</file>
                </admingrid>
            </updates>
        </layout>
    </frontend>    
    <global>
        <blocks>
            <admingrid>
                <class>Bas_AdminGrid_Block</class>
            </admingrid>
        </blocks>
        <models>
            <admingrid>
                <class>Bas_AdminGrid_Model</class>
                <resourceModel>admingrid_resource</resourceModel>
            </admingrid>
            <admingrid_resource>
                <class>Bas_AdminGrid_Model_Resource</class>
                <entities>
                    <admingrid>
                        <table>admingrid</table>

                    </admingrid>
                </entities>
            </admingrid_resource>
        </models>
        <resources>
            <admingrid_setup>
                <setup>
                    <module>Bas_AdminGrid</module>
                </setup>
            </admingrid_setup>
            <admingrid_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </admingrid_write>
            <admingrid_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </admingrid_read>
        </resources>
        <helpers>
            <admingrid>
                <class>Bas_AdminGrid_Helper</class>
            </admingrid>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Bas_AdminGrid before="Mage_Adminhtml">Bas_AdminGrid_Adminhtml</Bas_AdminGrid>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin> 

</config>